body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url("./imgs/bg.png") #000144 center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.title {
  font-size: 32px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.info_box {
  width: 500px;
  padding: 20px;
  background: rgba(35, 38, 57, 0.8);
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.platformInfo,
.signApiAddr {
  width: 100%; /* 调整宽度以适应父容器 */
  height: 150px;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #c8c4bb;
  color: #4e5769;
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.signApiAddr {
  margin-top: 50px;
}
