@font-face {
  font-family: "Noto Sans SC";
  src: url("../fonts/NotoSansSC-VariableFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Color Emoji";
  src: url("../fonts/NotoColorEmoji-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background: url("./img/bg.png") #000144 center center;
  font-family: "Noto Color Emoji", "Noto Sans SC", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  font-size: 32px;
  color: #000;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.info_box {
  width: 100%;
  padding: 20px;
  background: rgba(35, 38, 57, 0.8);
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  margin-bottom: 20px;
}

.provider {
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
}

.item {
  font-size: 16px;
  color: #c8c4bb;
  margin-bottom: 10px;
  padding-left: 10px;
}

.item div {
  margin-bottom: 5px;
}

.update {
  font-size: 18px;
  color: #000;
  text-align: center;
  margin-top: 20px;
}
